@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
}

canvas {
  display: block
}

h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Leckerli One', cursive;
  font-size: 3em;
  font-weight: 900;
  width: 100%;
  text-align: center;
}

p {
  font-size: 5rem;
  color: red;
}